# Node.js
node_modules/
package-lock.json

# Python
__pycache__/
venv/

# Environment Variables
.env
backend/config/.env
backend/config/.env.local
backend/.env
backend/.env.local
frontend/.env
frontend/.env.local

# Build Files
.next/
dist/

# Mac Files

.DS_Store